<!DOCTYPE html>
<html>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
  <!-- Required meta tags --

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!--    <link rel="stylesheet" href="/static/bootstrap-4.3.1-dist/css/bootstrap.min.css"> -->
  <title>Cmms</title>
</head>
<body>

  <div class="container-fluid">
    <div id="content">
      <div class="col-md-6 offset-md-3 jumbotron">
        <h1>Register breakdown</h1>
        <form class="" action="{% url 'home_page' %}" method="post">
          {% csrf_token %}
          {% if form.errors %}
          <h6>Please correct errors:</h6>
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible alert-link" role="alert">
                   {{ error }}
                </div>
              {% endfor %}
            {% endfor %}
          {% endif %}
          {% bootstrap_form form %}
          <input type="submit" name="" value="Save" id="save_breakdown">
        </form>
        <div class="messages">
          {% if messages %}
          <ul class="messages" id="messages">
            {% for message in messages %}
            <li class="alert alert-success" id="test_message">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="last_breakdowns" id="last_breakdowns">
          <h2>Last breakdowns</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Machine</th>
                  <th>Description</th>
                  <th>Start time</th>
                  <th>End time</th>
                </tr>
              </thead>
              <tbody>
                {% for breakdown in last_breakdowns %}
                <tr>
                  <td>{{ breakdown.machine }}</td>
                  <td>{{ breakdown.breakdown_description }}</td>
                  <td>{{ breakdown.start_time }}</td>
                  <td>{{breakdown.end_time }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
<!--  <script src="/static/jquery-3.4.1.min.js"></script> -->
</body>
</html>
