{% extends 'base.html' %}
{% load bootstrap4 %}
<!--  load widget_tweaks  -->
{% block content %}
<div class="well" id=Filtering>
  <h1>Filter breakdowns</h1>
  <form class="form-group" method="get">
    {% bootstrap_form form %}
    <button type="submit" id="submit_form">Search</button>
  </form>
</div>
  <table class="table" id='all_breakdowns_table'>
    <h2>{{ breakdown.breakdown_description }}</h2>
      <thead>
        <tr>
         <th>Machine</th>
         <th>Description</th>
         <th>Start time</th>
         <th>End time</th>
         <th>Edit</th>
       </tr>
     </thead>
     <tbody>
       {% for breakdown in filter.qs %}
       <tr>
         <td>{{ breakdown.machine }}</td>
         <td>{{ breakdown.breakdown_description }}</td>
         <td>{{ breakdown.start_time }}</td>
         <td>{{breakdown.end_time }}</td>
         <td>
           <form action="all_breakdowns/details/{{breakdown.pk}}">
             <input type="submit" name="Details" value="Details" id="details">
           </form>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
{% endblock %}
